:root {
  --brand-gradient: linear-gradient(
    135deg,
    #ff512f,
    #dd2476,
    #8e2de2
  );
}

/* ========================================
   APP
======================================== */

#root {
  width: 100%;
  min-height: 100vh;
}